<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="inputFilePath" value ="C:\CombinedLetters\Input"/>
		<add key ="outputFilePath" value ="C:\CombinedLetters\Output\"/>
		<add key ="archiveFilePath" value ="C:\CombinedLetters\Archive\"/>
	</appSettings>
</configuration>